.react-datepicker__current-month {
  color: #ffffff;
  font-size: var(--fontSize16);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight500);
  letter-spacing: -0.32px;
}

.react-datepicker {
  background: #1f1f1f;
  border-radius: 8px;
  border: 1px solid var(--inputBorderFocus);
  padding: 18px;
}

.react-datepicker__header {
  background-color: #1f1f1f;
  border: none;
}

.react-datepicker__navigation-icon--previous::before,
.react-datepicker__navigation-icon--next::before {
  border-color: #ffffff;
  width: 8px;
  height: 8px;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 18px;
}

.react-datepicker__day-names {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px;
  border-top-color: var(--calendarLineColor);
  border-top-style: solid;
  display: flex;
  gap: 11px;
}

.react-datepicker__day-name {
  color: #ffffff;
  font-size: var(--fontSize14);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight500);
  letter-spacing: 0.2;
  margin: 0px;
  width: 22px;
  height: 22px;
  margin-bottom: 11px;
}

.input-output-date-btn {
  color: var(--buttonAddCardBgColor);
  font-size: var(--fontSize14);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight500);
  letter-spacing: -0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker-arrow {
  fill: var(--buttonAddCardBgColor);
  margin-left: 10px;
}

.react-datepicker__day--selected {
  background-color: #bedbb0;
  color: black;
  border-radius: 50%;
}

.react-datepicker__day--outside-month {
  color: #ffffff;
}

.react-datepicker__day {
  color: #ffffff;
}

.react-datepicker__day:hover {
  background-color: #bedbb0;
  color: black;
  border-radius: 50%;
}
.react-datepicker__day--outside-month {
  opacity: 0.5;
}
.react-datepicker__day.react-datepicker__day--selected {
  background-color: #bedbb0;
  color: black;
  border-radius: 50%;
}
.react-datepicker__day--keyboard-selected {
  border-radius: 0;
  background-color: #1f1f1f;
}
.input-output-date-btn {
  color: #bedbb0;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.date-picker-arrow {
  fill: #bedbb0;
}
